<ion-view >
    
    <ion-nav-bar class="bar-positive" align-title="center">    
         <ion-nav-title>
        Add Vehicle Details
        </ion-nav-title>
        
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-content class="has-header">
        <div class="textCenter subHeaderTitle">
            <!--<h4>Add vehicle details</h4>-->
        </div>
        <div class="list">
            
            <!--Vehicle Number -->
            <label class="item item-input">
                <span class="input-label">Enter Vehicle Number</span>
                <input type="text">
            </label>

            <!--Vendor Name -->
            <label class="item item-input">
                <span class="input-label">Vendor Name</span>
                <input type="text">
            </label>

            <!--Contract Name -->
            <label class="item item-input">
                <span class="input-label">Contract Name</span>
                <input type="text">
            </label>

            <!--Vehicle Type  -->
            <label class="item item-input">
                <span class="input-label">Vehicle Type</span>
                <input type="text">
            </label>

            <!--Vehicle Capacity  -->
            <label class="item item-input">
                <span class="input-label">Vehicle Capacity</span>
                <input type="text">
            </label>

        </div>


        <label class="item">
            <button class="button button-block button-positive" ng-click="addVehicle()">Add Vehicle</button>
        </label>
        
    </ion-content>

    
</ion-view>