<ion-view >
    
    
    <ion-nav-bar class="bar-positive" align-title="center">    
         <ion-nav-title>
	  <img src="images/image49.png" class="navigationImage">
	  Browse devices (4)
        </ion-nav-title>
        
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    
    
    
    <ion-content class="has-header">
        
      <ion-list>
		  <ion-item ng-repeat="device in devices" ng-value="device" ng-model="data.selectedDevice">
				<h3>ID: {{device.DeviceId}}</h3>
        		<h3>EMEI : #{{device.IMEINumber}}</h3>
		  </ion-item>
      </ion-list>
	
	

	<!--<section class="ddd">

	<div class="main">
	<div class="left">
	<div class="color5"></div>



	</div>
	
	<div class="center">
<h4 class="id m">ID: 1248925 (Faulty)
</h4><span class="number">
EMEI # EUIMS90923423490</span>

	</div>
	

	
	</div>
	
	

	<hr>
	
<div class="main">
	<div class="left">
	<div class="color6"></div>




	</div>
	
	<div class="center">
<h4 class="id n">ID: 234235BG (Available)
</h4><span class="number">
EMEI # EUIMS90923423490</span>

	</div>
	
	

	
	</div>
	
	

	<hr>

<div class="main">
	<div class="left">
	<div class="color7"></div>



	</div>
	
	<div class="center">
<h4 class="id b">ID: 884362BG - To Delhi
</h4><span class="number">
EMEI # EUIMS90923423490</span>

	</div>
	
	

	
	</div>
	
	

	<hr>
<div class="main">
	<div class="left">
	<div class="color7"></div>


	</div>
	
	<div class="center">
<h4 class="id b">ID: 144242BG - To Bangalore
</h4><span class="number">
EMEI # EUIMS90923423490</span>

	</div>
	
	

	
	</div>-->
	
        
        
    </ion-content>
    
    
</ion-view>