<ion-view >
    
    <ion-nav-bar class="bar-positive" align-title="center">    
         <ion-nav-title>
        <img src="images/image50.png" style="position: absolute;
    margin-left: 20px;
    width: 45px;
    margin-top: 2px;
    margin-left: 25px;"> Browse Vehicles
        </ion-nav-title>
        
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    
    
    
    
    <ion-content class="has-header">
        
 <!--<div class="col">
    <b style="     position: relative;
    left: 9px;
    top: -20px;
    font-size: 16px;
    line-height: 1.5;">Available Vehicles (4)</B>
	 <img src="images/plus-5-xxl.png" class="plue" style="width: 23px;
    position: relative;
    float: right;
    left: -31px;
    top: -18px;">
  </div>-->

        <div class="card">
            <div class="item">
                <span>Available Vehicles ({{vehicles.length}})</span>

                <div style="float:right;">
                    <button class="button" ng-click="addVehicle()">
                    <i class="icon ion-plus-circled"></i>
                </button>
                </div>

                

            </div>
        </div>
 
 
        <ion-list>
            <ion-item ng-repeat="vehicle in vehicles" ng-value="vehicle" ng-model="data.selectedVehicle">
                <div>
                    <span>Truck - {{vehicle["VehicleRegistration"]}} </span>
                </div>
                <div>
                    <span>{{vehicle["VendorName"]}}</span>
                </div>

            </ion-item>
        </ion-list>     
    </ion-content>
    
</ion-view>