<ion-view >
    
    
    <ion-nav-bar class="bar-positive" align-title="center">    
         <ion-nav-title>
        Browse devices (4)
	  <img src="images/image49.png" class="heads">
        </ion-nav-title>
        
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    
    
    
    <ion-content>
        
      
	
	
	

	<section class="ddd">

	<div class="main">
	<div class="left">
	<div class="color5"></div>



	</div>
	
	<div class="center">
<h4 class="id m">ID: 1248925 (Faulty)
</h4><span class="number">
EMEI # EUIMS90923423490</span>

	</div>
	

	
	</div>
	
	

	<hr>
	
<div class="main">
	<div class="left">
	<div class="color6"></div>




	</div>
	
	<div class="center">
<h4 class="id n">ID: 234235BG (Available)
</h4><span class="number">
EMEI # EUIMS90923423490</span>

	</div>
	
	

	
	</div>
	
	

	<hr>

<div class="main">
	<div class="left">
	<div class="color7"></div>



	</div>
	
	<div class="center">
<h4 class="id b">ID: 884362BG - To Delhi
</h4><span class="number">
EMEI # EUIMS90923423490</span>

	</div>
	
	

	
	</div>
	
	

	<hr>
<div class="main">
	<div class="left">
	<div class="color7"></div>


	</div>
	
	<div class="center">
<h4 class="id b">ID: 144242BG - To Bangalore
</h4><span class="number">
EMEI # EUIMS90923423490</span>

	</div>
	
	

	
	</div>
	
        
        
    </ion-content>
    
    
</ion-view>