<ion-view >
    <!--<div class="bar bar-header  bar-royal">
        <h1 class="title"> Lex Mobile! </h1>
    </div>-->
    
    <ion-nav-bar class="bar-positive" align-title="center">
        
        <ion-nav-title>
      Lex Mobile!
    </ion-nav-title>
    
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
    
    
    
    <!--<ion-title> Lex Mobile!</ion-title>-->
    
    <ion-content>    
        <section class="textCenter">
	<!--<a href="#">-->
	
	<button class="button  button-stable" style="width:200px;" ng-click="create()">
   Create a new Trip
</button>
	<!--</a>-->
    
    <br><br>
	<!--<a href="#">-->
	<button class="button  button-stable" style="width:200px;" ng-click="recieveDevices()">
  Receive devices
</button>
	
	<!--</a>-->
    
    <br><br><br>




	<div class="row">
  <div class="col">
  
	<button  class="button  button-stable" ng-click="liveTrips()" >
	<img src="images/image40.png" width="54px;" style="position: relative;
    top: 18px;
    left: -10px;">

	<p style="    display: inline;
    font-size: 18px;
    /* margin-bottom: 45px; */">Live 	<span class="text" style="display: block;
    margin-left: 64px;
    margin-top: -19px;"> Trips
	</span></p>
  </button>
  </div>

  
  <div class="col">
  <button class="button  button-stable" ng-click="browseVehicles()">
  <img src="images/image36.png"  width="26px;" style="position: relative;
    top: 18px;
    left: -10px;">
  
  
	<p style="    display: inline;
    font-size: 18px;
    /* margin-bottom: 45px; */">
  Browse 
  <span class="text" style="    display: block;
    margin-left: 40px;
    margin-top: -21px;">Vehicles       </span></p>
  </button>
  </div>
</div>
 
	
	
		<div class="row" style="margin-top:1px;">
  
<div class="col col-50">  
  
   
  
	<button  class="button  button-stable" ng-click="manageDevices()">
	<img src="images/image41.png" width="32px;" style="position: relative;
    top: 15px;
    left: -3px;">

	<p style="display: inline;
    font-size: 18px;

    position: relative;
    top: -5px;
    left: 3px;">Manage
	<span class="text" style="    display: block;
    margin-left: 35px;
    margin-top: -22px;">Devices 
	</span></p>
  </button>
  </div>
  
  
  

  
  <div class="col">
	<button  ng-click="browseRoutes()" class="button  button-stable" style="
margin-left: -6px;
    position: relative;
    left: 4px;
    top: 2px;
    height: 77px;">
	<img src="images/image46.png" width="42px;" style="
	 position: relative;
    top: 18px;
    left: -7px;
    width: 51px;">Browse
	<span class="text" style="    display: block;
    margin-left: 49px;
    margin-top: -22px;">Routes
	</span></p>
  </button>
  </div>
  </div>
	
	</div>
	
	

	
	</section>
        
        
        
    </ion-content>
    
    
    
</ion-view>