<ion-view >
    
    <ion-nav-bar class="bar-positive" align-title="center">    
         <ion-nav-title>
         
   
   <img src="images/image48.png" style=" position: absolute;
    margin-left: 20px;
    width: 53px;
    margin-top: 3px;
    margin-left: 13px;">
   
  Live Trips (4)
 
        </ion-nav-title>
        
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    
    
    
    <ion-content>
        
       
<br><br>
 <style>
 .color{
     width: 19px;
    height: 30px;
    background-color: #ef3024;
    position: absolute;
    top: 0px;
    left: 10px;
    height: 77px;
 }
 
 
  .color1{
     width: 19px;
    height: 30px;
    background-color:#1b9152;
    position: absolute;
    top: 0px;
    left: 10px;
    height: 77px;
 }
 
 
 
  .color2{
     width: 19px;
    height: 30px;
    background-color:#428dcb;
    position: absolute;
    top: 0px;
    left: 10px;
    height: 77px;
 }
 
 .hw{
 position: relative;
    top: -4px;
    left: -5px;
 }
 </style>
 
 <div class="list">

    <a class="item item-avatar" href="#">
 <span class="color"></span>
 
      <h2 style="margin-left: -25px; color:#ef3024;     font-size: 18px;"> ID: 1248925 (1 day delay)</h2>
     
	 <p style="    margin-left: -25px;">  <img src="images/location.png"   style="    width: 22px;
    position: relative;
    left: -4px;"> <span class="hw"> Ananthpur main road, AP</span></p>
	 
	  <img src="images/m.png" style="float: right;
    margin-top: -45px;
    width: 31px;">
    </a>

	 <a class="item item-avatar" href="#" style="margin-top: -18px;">
 <span class="color1"></span>
 
      <h2 style="    margin-left: -25px; color:#1b9152;     font-size: 18px;">ID: 234235BG (Unavailable)</h2>
       
	   <p style="    margin-left: -25px;">  <img src="images/location.png"   style="    width: 22px;
    position: relative;
    left: -4px;"> <span class="hw"> Panvel, Mumbai, MH</span></p>
	   
	  <img src="images/c.png" style="float: right;
    margin-top: -45px;
    width: 31px;">
    </a>
	
	
	 <a class="item item-avatar" href="#" style="margin-top: -18px;">
 <span class="color2"></span>
 
      <h2 style="    margin-left: -25px; color:#428dcb;     font-size: 18px;     font-size: 18px;">ID: 252590BG</h2>
      <p style="    margin-left: -25px;">  <img src="images/location.png"   style="    width: 22px;
    position: relative;
    left: -4px;"> <span class="hw"> Last location: Nelamangala, KA</span></p>
	  <img src="images/n.png" style="float: right;
    margin-top: -45px;
    width: 31px;">
    </a>
	
	
	 <a class="item item-avatar" href="#" style="margin-top: -18px;
	 margin-top: -18px;
    margin-bottom: -1px;
    position: relative;
	padding-bottom:0px;
	 ">
 <span class="color2"></span>
 
      <h2 style="    margin-left: -25px; color:#428dcb;     font-size: 18px;">ID: 123993BG</h2>
     <p style="    margin-left: -25px;">  <img src="images/location.png"   style="    width: 22px;
    position: relative;
    left: -4px;"> <span class="hw"> Sector 4 Noida, UP</span></p>
<img src="images/n.png" style="float: right;
    margin-top: -45px;
    width: 31px;">
    </a>
 

</div>

        
        
    </ion-content>
    
</ion-view>