<ion-view>
    
    <ion-nav-bar class="bar-positive" align-title="center">    
         <ion-nav-title>
        Create Trip: 4/4- Trip Details
        </ion-nav-title>
        
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    
    
    <ion-content>
      
      
      
  <div class="row">
  <div class="col">
 <h4>Enter Trip Details</h4></div></div>

<div class="row">
  <div class="col col-50">
  <h5>First Driver’s Name</h5>
  <label class="item item-input" style="padding: 0px 0 4px 6px;">
    <input type="text" placeholder="John Smith">
  </label>
  
  </div>
  <div class="col">
   <h5>Mobile*</h5>
  <label class="item item-input" style="padding:0px 0 4px 3px">
    <input type="text" placeholder="1234567890" >
  </label>
  </div>
  
</div>

 <div class="row">
  <div class="col col-50">
  <h5>Second Driver’s Name</h5>
  <label class="item item-input" style="padding: 0px 0 4px 6px;">
    <input type="text" placeholder="John Smith">
  </label>
  
  </div>
  <div class="col">
   <h5>Mobile*</h5>
  <label class="item item-input" style="padding:0px 0 4px 3px">
    <input type="text" placeholder="1234567890" >
  </label>
  </div>
  
</div>




<div class="row">
  <div class="col col-50%">
  <h5>Enter Invoice numbers (max of 5)</h5>
</div>
</div>


<div class="row">
  <div class="col col-50">

  <label class="item item-input" style="padding: 0px 0 4px 6px;">
    <input type="text" placeholder="VB242TWFS">
  </label>
  
  <label class="item item-input" style="padding: 0px 0 4px 6px; margin-top:8px;">
    <input type="text" placeholder="">
  </label>
  
  </div>
  <div class="col">
  
   <button style=" margin: 49px;
    width: 82px;
    height: 34px;">ADD</button>
 
  </div>
  
</div>



 
        
        
        
    </ion-content>
    
    
    
    <div class="bar bar-footer  bar-stable">
  <div class="title" ng-click="createTrip()"> Create Trip ></div>
</div>
    
</ion-view>