<ion-view>
    
    <ion-nav-bar class="bar-positive" align-title="center">    
         <ion-nav-title>
         Trip Details
        </ion-nav-title>
        
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    
    
    <ion-content>
      
      <ion-list>
  
      <div class="">

        <div class="item item-icon-right">
          <i class="icon ion-chevron-right" style="color:#ccc; font-size:16px;"></i>
          Customer Name
          <span class="item-note">{{tripDetails.CustomerName}}</span>
        </div>

        <div class="item item-icon-right">
          <i class="icon ion-chevron-right" style="color:#ccc; font-size:16px;"></i>
          Contract Name
          <span class="item-note">{{tripDetails.ContractName}}</span>
        </div>

        <div class="item item-icon-right">
          <i class="icon ion-chevron-right" style="color:#ccc; font-size:16px;"></i>
          Route Name
          <span class="item-note">{{tripDetails.RouteName}}</span>
        </div>

        <div class="item item-icon-right">
          <i class="icon ion-chevron-right" style="color:#ccc; font-size:16px;"></i>
          Vehicle Number
          <span class="item-note">{{tripDetails.VehicleRegistration}}</span>
        </div>

        <div class="item item-icon-right">
          <i class="icon ion-chevron-right" style="color:#ccc; font-size:16px;"></i>
          Trip ID 
          <span class="item-note">{{tripDetails.TripId}}</span>
        </div>

      </div>

      <div class="map">
          AIzaSyALUezxeyrwGZ9y7ZtfZMS5_i-KLypDjZM
      </div>
      
      </ion-list>
        
        
    </ion-content>
    
    

    
</ion-view>